body{
    background-color: purple;
    
}
.Africa{
    background-color: aquamarine
}
.Tiger{
    background-color: chartreuse
}
.Human{
    background-color: darkgoldenrod
}
.Flower{
    background-color: blueviolet
}